<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="stylesheet" href="/static/styles/career.css">
    <link rel="stylesheet" href="/static/styles/accordion.css">
    <link rel="stylesheet" href="/static/styles/portfolio.css">
    <title>Alex Site</title>
</head>
<body>

<div class="max-w-6xl mx-auto content-box">
    {% block body %}
    {% endblock %}
    <footer class="text-center mt-8 py-6 bg-gray-100">
        <h3 class="text-xl font-semibold text-gray-700 mb-4">Свяжитесь со мной!</h3>
        <div class="flex justify-center space-x-6">
            <a href="{{ data.contacts.git.url }}" target="_blank" class="text-gray-600 hover:text-blue-500 transition duration-300">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a href="mailto:{{ data.contacts.email.name }}" class="text-gray-600 hover:text-blue-500 transition duration-300">
                <i class="fas fa-envelope fa-2x"></i>
            </a>
            <a href="{{ data.contacts.telegram.url }}" target="_blank" class="text-gray-600 hover:text-blue-500 transition duration-300">
                <i class="fab fa-telegram fa-2x"></i>
            </a>
        </div>
        <p class="mt-4 text-gray-500">© 2025 Пожар Алексей. Все права защищены.</p>
    </footer>

</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</body>
</html>